

.item-container {
  width: 40%;
}

.card-container {
  margin-top: 80px;
}

.item {
  padding: 10px;
  border: 1px solid grey;
  margin-bottom: 20px;
}

.target {
  width: 50%;
  min-height: 200px;
  border: 1px solid grey;
}