
@import "bootstrap";


html {
  font-size: 100%;
}

$white: white;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $white;
  background-image: url("https://media.owlgo.co/source/shared/marble.jpg");
  background-repeat: repeat;
  background-size: cover;
}

button:disabled {
  opacity: 0.5;
}

blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}

